.designationGrid
{
height:30vh;
margin-left:5px;
margin-right:5px;
margin-bottom:px;
margin-top:5px;
padding:5px;
border:1px solid black;
overflow:scroll;
}
.designationGridHeader
{
text-align:right;
padding:5px;	
}
.designationGridSNOColumnTitle
{
width:60px;
text-align:center;	
}
.designationGridDesignationColumnTitle
{
width:200px;
text-align:center;	
}
.designationGridEditOptionColumnTitle
{
width:100px;
text-align:center;	
}
.designationGridDeleteOptionColumnTitle
{
width:100px;
text-align:center;	
}






